<ion-header class="toolbar-ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pagina-bienvenida">

  <div class="container-bienvenida">
    <ion-item lines="none">
      <ion-label position="floating" color="primary">Correo electrónico</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        fill="outline"
        required
      ></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <p>Ingresa un correo válido.</p>
    </ion-text>

    <ion-button
      class="boton-azul"
      expand="block"
      (click)="solicitarReset()"
      [disabled]="form.invalid || loading"
    >
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
      <span *ngIf="!loading">ENVIAR CORREO DE RECUPERACIÓN</span>
    </ion-button>

    <ion-text color="success" *ngIf="mensaje">
      <p>{{ mensaje }}</p>
    </ion-text>

    <ion-text color="danger" *ngIf="error">
      <p>{{ error }}</p>
    </ion-text>
  </div>

</ion-content>
