.fondo-oscuro {
  background-color: #121212;
  color: white;
  height: 100%;
}

/* Reutilizamos el diseño rojo que ya tenías */
.card-rojo {
  border: 2px solid #b00020;
  border-radius: 12px;
  background-color: #121212;
  color: white;
  box-shadow: 0 4px 8px rgba(176, 0, 32, 0.2);
}

.titulo-rojo {
  color: #b00020;
  font-weight: bold;
  text-align: center;
}

.boton-rojo {
  --background: #b00020;
  --color: #ffffff;
  border-radius: 8px;
  margin-top: 12px;
  font-weight: bold;
  text-transform: none;
  box-shadow: 0 4px 8px rgba(176, 0, 32, 0.3);
}

/* Subir foto */
.custom-file-upload-rojo {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #b00020;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.custom-file-upload-rojo:hover {
  background-color: #950018;
}

.nombre-archivo-rojo {
  margin-top: 10px;
  color: #b00020;
  font-weight: 500;
  font-size: 14px;
}

/* Estilo general del formulario */
.formulario-progreso {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
